.blogname {
	font-size: 36px;
	font-weight: bold;
	color: #FFB61F;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	filter: Shadow(Color=#000000, Direction=135);
}
.blogarea {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FA6A0B;
	text-align: center;
}


BODY
{
background-color:#000000;
font-size:12px;
scrollbar-3dlight-color:#170708;
scrollbar-arrow-color:#000000;
scrollbar-base-color:#170708;
scrollbar-darkshadow-color:#ffffff;
scrollbar-face-color:#EEEAEB;
scrollbar-highlight-color:#FBFDFC;
scrollbar-shadow-color:#170708;
font-family: ו;
}


.t1{
border-width:1px;
border-top-style:solid;
border-left-style:solid;
border-color:#999999;
font-size:12px;
text-align:center;
}
.t2{
font-weight:bold;
background-color:#FF6600;
border-width:1px;
border-right-style:solid;
border-bottom-style:solid;
border-color:#999999;
color:#FFFFFF;
text-align:center;
}
.t3{
border-width:1px;
border-right-style:solid;
border-bottom-style:solid;
border-color:#999999;
text-align:center;
background-color:#F6F6F6;
}
.t4{
border-width:1px;
border-right-style:solid;
border-bottom-style:solid;
border-color:#999999;
text-align:center;
background-color:#F4D972;
}
.t5{
border-width:1px;
border-right-style:solid;
border-bottom-style:solid;
border-color:#999999;
background-color:#FDD689;
}
.b1
{
BORDER-RIGHT:#104a7b1pxsolid;
BORDER-TOP:#afc4d51pxsolid;
BACKGROUND:#CBD9FE;
BORDER-LEFT:#afc4d51pxsolid;
CURSOR:pointer;
COLOR:#000066;
BORDER-BOTTOM:#104a7b1pxsolid;
HEIGHT:19px;
TEXT-DECORATION:none
}
.b2{
font-size:12px;
}
.tt1{
font-size:12px;
color:#000000;
background-color:#F2F2F2;
border-width:1px;
border-bottom-style:solid;
border-color:#000000;
}
.tt3{
font-size:12px;
color:#000000;
background-color:#F2F2F2;
border-width:1px;
border-top-style:solid;
border-bottom-style:solid;
border-color:#000000;
}
.f1{
font-size:12px;
color:#D31E00;
text-decoration:none;
text-align:left;
}
.tt2{
font-size:14px;
color:#6666CC;
font-weight:bold;
text-indent:100pt;
}
.f2{
font-size:14px;
font-weight:bold;
color:#FF6600;
}
.hr{
line-height:1px;
border-style:dotted;
border-color:#999999;
}
.t6{
font-size:14px;
font-weight:bolder;
color:#FF0000;
background-color:#F4D972
}
.t7{
font-size:14px;
color:#000000;
text-decoration:none;
background-color:#F4D972
font-weight:bold;
}
.t21{
font-size:14px;
background-color:#F4D972;
border-width:1px;
border-top-style:solid;
border-left-style:solid;
border-color:#FF6600;
}
.t22{
border-width:1px;
border-left-style:solid;
border-bottom-style:solid;
border-color:#FF6600;
text-align:center;
color:#000000;
}
.t23{
border-left-style:solid;
text-align:center;
background-color:#FF6600;
border-width:1px;
border-color:#CBD9FE;
color:#FFFFFF;
}
.b22{
font-size:14px;
color:#000000;
text-decoration:none;
}
.b23{
font-size:14px;
color:#FFFFFF;
text-decoration:none;
}
.f3{
color:#FFFFFF;
text-decoration:underline;
}
.t8{
border-width:1px;
border-right-style:solid;
border-bottom-style:solid;
border-color:#999999;
background-color:#F4D972;
}
.t10{
border-width:1px;
border-bottom-style:solid;
border-color:#999999;
background-color:#F4D972;
}
.t11{
border-width:1px;
border-right-style:solid;
border-color:#999999;
background-color:#F4D972;
}
.t14{
background-color:#F4D972;
}
.t16{
background-color:#FDD689;
}
.t17{
background-color:#F4D972;
border-left-width:5px;
border-left-color:#FFFFFF;
border-left-style:solid;
border-top-width:3px;
border-top-color:#FFFFFF;
border-top-style:solid;
text-align:left;
font-size:12px;
font-weight:bold;
}
.t9{
font-weight:bold;
font-size:14px;
background-color:#FF6600;
border-width:1px;
border-right-style:solid;
border-bottom-style:solid;
border-color:#999999;
color:#FFFFFF;
}
.t12{
border-width:1px;
border-bottom-style:solid;
border-color:#999999;
background-color:#FFFFFF;
}
.t13{
border-width:1px;
border-right-style:solid;
border-color:#999999;
background-color:#FDD689;
}
.f4{
font-family:"Arial","Helvetica","sans-serif";
font-weight:bold;
color:#FF0000;
}
.f5{
font-size:16px;
}
.f6{
font-size:13px;
line-height:20px;
}
.t15{
border-width:1px;
border-left-style:solid;
border-color:#999999;
font-size:12px;
text-align:left;
}
.f7{
font-size:12px;
color:#666666;
line-height:20px;
text-decoration:none;
}
.hand{
cursor:pointer;
font-size:8pt;
font-family:"Georgia","TimesNewRoman","Times","serif"
}
.content
{
font-size:14px;
line-height:24px;
color: #72130B
}
.contentwithhtml
{
font-size:14px;
color: #72130B;
}
.indexcontent
{
font-size:12px;
line-height:20px;
color:#72130B;
}
.indexcontentwithhtml
{
color:#72130B;
font-size:12px;
}
.bc1
{
font-size:12px;
color:#000000;
font-weight:bolder;
text-decoration:none;
}
.bc2
{
color:#FFFFFF;
font-weight:bolder;
text-decoration:none;
}
.bc3
{
color:#FF6600;
font-weight:bolder;
text-decoration:none;
}
.date
{
FONT-WEIGHT: bold;
MARGIN-BOTTOM: 10px;
FONT-SIZE: 18px;
COLOR: #891004;
FONT-FAMILY: palatino, georgia, times new roman, serif
}
.bloglists {
	background-color: #FF6600;
	text-align: center;
	vertical-align: top;
	font-size: 12px;
}
.bloglists2 {
	background-color: #FF6600;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #B41509;
	text-decoration: none;
}
a:hover {
	color: #FC2700;
	text-decoration: underline ;
}

ul {
	margin: 0px 0px 0px 5px;
	padding: 0px;
	text-align: left;
}
li {
	padding: 0px;
	margin-left: 10px;
	text-align: left;
}
.copystyle {font-family: "Times New Roman", Times, serif}
.ll { text-align: left; }
