.SMItem { /* style menu item */
	font-size:9pt;
	line-height:12pt;
}
.MItem { /* menu item */
	font-size:9pt;
	line-height:14pt;
}
.HCursor { /* hand cursor */
	cursor: hand;
}
.NWeight { /* normal weight */
	font-weight: normal;
}
.cPopText { /* popup tip */
	background-color: #F8F8F5;
	color:#000000;
	border: 1px #000000 solid;
	font-color: font-size: 12px;
	padding-right: 4px;
	padding-left: 4px;
	height: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	filter: Alpha(Opacity=0)
}
.buttonClass1,.buttonClass2,.buttonClass3,.buttonClass4
{
	background-color: lightblue;
	cursor: hand;
}
