A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#000000}
A:hover{TEXT-DECORATION: underline;Color:darkseagreen}

BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ו;
background-color: #FFFFFF; 
scrollbar-face-color: #dbeedd;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: darkseagreen;
scrollbar-3dlight-color: #dbeedd;
scrollbar-arrow-color: darkseagreen;
scrollbar-track-color: #f3faf4;
scrollbar-darkshadow-color: #f3faf4;
}
TD{
font-family: ו;
font-size: 12px;
line-height: 15px;
}
th
{
background-image: url(../skin/more/lvbg1.gif);
background-color: #ffffff;
color: #ffffff;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #FFFFFF;
}
td.TableBody1
{
background-color: #f3faf4;
}
td.TableBody2
{
background-color: #dbeedd;
}
td.TopDarkNav
{
background-image: url(../skin/more/lvtopbg.gif);
}
td.TopLighNav
{
background-image: url(../skin/more/lvbottombg.gif);
}
td.TopLighNav1
{
background-image: url(../skin/more/lvtabs_m_tile.gif);
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.TableBorder1
{
width:97%;
border: 1px; 
background-color: darkseagreen;
}
.TableBorder2
{
width:97%;
border: 1px darkseagreen solid; 
background-color: #dbeedd;
}

#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
 COLOR: #ffffff;
 TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
 COLOR: #FFFFFF;
 TEXT-DECORATION: underline;}

input,select,Textarea{
font-family:Tahoma,Verdana,ו; font-size: 12px; line-height: 15px;}
}
.normalTextSmall 
{ 
    font-size : 11px;
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navClass1
{Z-INDEX: 2; VISIBILITY: hidden; WIDTH: 1px; POSITION: absolute; HEIGHT: 1px; BACKGROUND-COLOR: #9cc5f8}

.navClass2
{border:1px darkseagreen solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px;width:97%;}

.buttonClass1
{width:72;height:21;background-image:url(../pic/more/i4.gif)}

.buttonClass2
{width:72;height:21;background-image:url(../pic/more/i5.gif)}

.buttonClass3
{width:72;height:21;background-image:url(../pic/more/i6.gif)}

.buttonClass4
{width:72;height:21;background-image:url(../pic/more/i7.gif)}
