A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#000000}
A:hover{TEXT-DECORATION: underline;Color:#4455aa}

BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ו;
background-color: #FFFFFF; 
scrollbar-face-color: #dbeedd;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: darkseagreen;
scrollbar-3dlight-color: #dbeedd;
scrollbar-arrow-color: darkseagreen;
scrollbar-track-color: #f3faf4;
scrollbar-darkshadow-color: #f3faf4;
background-image: url(../skin/more/lvbgcolor.gif);
}
TD{
font-family: ו;
font-size: 12px;
line-height: 15px;
}
th
{
background-color: #a9d46d;
background-image: url(../skin/blue/h3.gif);
COLOR: #FFFFFF;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #e3f1d1;
}
td.TableBody1
{
background-color: #f4faed;
}
td.TableBody2
{
background-color: #e3f1d1;
}
td.TopDarkNav
{
background-image: url(../skin/blue/h12.gif);
}
td.TopLighNav
{
background-image: url(../skin/blue/h1.gif);
}
td.TopLighNav1
{
background-image: url(../skin/blue/h2.gif);
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.TableBorder1
{
width:97%;
border: 1px; 
background-color: #a9d46d;
}
.TableBorder2
{
width:97%;
border: 1px #83BB37 solid; 
background-color: #e3f1d1;
}

#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}

input,select,Textarea{
font-family:Tahoma,Verdana,ו; font-size: 12px; line-height: 15px;}
}
.normalTextSmall 
{ 
    font-size : 11px;
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navClass1
{Z-INDEX: 2; VISIBILITY: hidden; WIDTH:100px; POSITION: absolute;   BACKGROUND-COLOR: #9cc5f8}

.navClass2
{border:1px #a9d46d solid; border-top-width: 0px; border-right-WIDTH:1px; border-bottom-width: 0px; border-left-WIDTH:1px;width:97%;}

.buttonClass1
{width:72px;height:21px;background-image:url(../pic/more/h4.gif)}

.buttonClass2
{width:72px;height:21px;background-image:url(../pic/more/h5.gif)}

.buttonClass3
{width:72px;height:21px;background-image:url(../pic/more/h6.gif)}

.buttonClass4
{width:72px;height:21px;background-image:url(../pic/more/h7.gif)}
