A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#000000}
A:hover{TEXT-DECORATION: underline;Color:#4455aa}

BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ו;
background-color: #ffffff;
SCROLLBAR-ARROW-COLOR: #FFffff;
SCROLLBAR-3DLIGHT-COLOR: #F9904B;
scrollbar-Base-Color: #F9904B;
SCROLLBAR-TRACK-COLOR: #FFF0E6;
}
TD{
font-family: ו;
font-size: 12px;
line-height: 15px;
}
th
{
background-image: url(../skin/blue/c3.gif);
background-color: #ff6600;
color: white;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #ECF1FB;
}
td.TableBody1
{
background-color: #FFFAF7;
}
td.TableBody2
{
background-color: #FFF0E6;
}
td.TopDarkNav
{
background-image: url(../skin/blue/c12.gif);
}
td.TopLighNav
{
background-image: url(../skin/blue/c1.gif);
}
td.TopLighNav1
{
background-image: url(../skin/blue/c2.gif);
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.TableBorder1
{
width:97%;
border: 1px; 
background-color: #ff6600;
}
.TableBorder2
{
width:97%;
border: 1px #DEDEDE solid; 
background-color: #FFF0E6;
}

#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}

input,select,Textarea{
font-family:Tahoma,Verdana,ו; font-size: 12px; line-height: 15px;}
}
.normalTextSmall 
{ 
    font-size : 11px;
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navClass1
{Z-INDEX: 2; VISIBILITY: hidden; WIDTH: 1px; POSITION: absolute; HEIGHT: 1px; BACKGROUND-COLOR: #9cc5f8}

.navClass2
{border:1px #ff6600 solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px;width:97%;}

.buttonClass1
{width:72;height:21;background-image:url(../pic/more/c4.gif)}

.buttonClass2
{width:72;height:21;background-image:url(../pic/more/c5.gif)}

.buttonClass3
{width:72;height:21;background-image:url(../pic/more/c6.gif)}

.buttonClass4
{width:72;height:21;background-image:url(../pic/more/c7.gif)}
