A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#000000}
A:hover{TEXT-DECORATION: underline;Color:#FF8CA6}

BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ו;
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-FACE-COLOR: #FBF4F4; 
SCROLLBAR-SHADOW-COLOR: #FBF4F4;
SCROLLBAR-3DLIGHT-COLOR: #FBF4F4;
SCROLLBAR-DARKSHADOW-COLOR: #F3E2E2;
SCROLLBAR-ARROW-COLOR: #D66565;
background-image: url(../skin/blue/kabg.gif);
}
TD{
font-family: ו;
font-size: 12px;
line-height: 15px;
}
th
{
background-color: #FF9BB1;
background-image: url(../skin/blue/g3.gif);
COLOR: #FFFFFF;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #FFD4DE;
}
td.TableBody1
{
background-color: #FFECEF;
}
td.TableBody2
{
background-color: #FFD4DE;
}
td.TopDarkNav
{
background-image: url(../skin/blue/g12.gif);
}
td.TopLighNav
{
background-image: url(../skin/blue/g1.gif);
}
td.TopLighNav1
{
background-image: url(../skin/blue/g2.gif);
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.TableBorder1
{
width:97%;
border: 1px; 
background-color: #FF9BB1;
}
.TableBorder2
{
width:97%;
border: 1px #FFB3C4 solid; 
background-color: #FFD4DE;
}

#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}

input,select,Textarea{
font-family:Tahoma,Verdana,ו; font-size: 12px; line-height: 15px;}
}
.normalTextSmall 
{ 
    font-size : 11px;
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navClass1
{Z-INDEX: 2; VISIBILITY: hidden; WIDTH:100px; POSITION: absolute;   BACKGROUND-COLOR: #9cc5f8}

.navClass2
{border:1px #FF9BB1 solid; border-top-width: 0px; border-right-WIDTH:1px; border-bottom-width: 0px; border-left-WIDTH:1px;width:97%;}

.buttonClass1
{width:72px;height:21px;background-image:url(../pic/more/g4.gif)}

.buttonClass2
{width:72px;height:21px;background-image:url(../pic/more/g5.gif)}

.buttonClass3
{width:72px;height:21px;background-image:url(../pic/more/g6.gif)}

.buttonClass4
{width:72px;height:21px;background-image:url(../pic/more/g7.gif)}
