A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#000000}
A:hover{TEXT-DECORATION: underline;Color:#4455aa}

BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ו;
background-color: #FFFFFF; 
scrollbar-Base-Color: #ffffff;
SCROLLBAR-TRACK-COLOR: #ffffff;  
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-FACE-COLOR: #F7EEF7; 
SCROLLBAR-SHADOW-COLOR: #F7EEF7;
SCROLLBAR-3DLIGHT-COLOR: #F7EEF7;
SCROLLBAR-DARKSHADOW-COLOR: #ECF1FB;
SCROLLBAR-ARROW-COLOR: #984B98;
background-image: url(../skin/blue/kabg.gif);
}
TD{
font-family: ו;
font-size: 12px;
line-height: 15px;
}
th
{
background-image: url(../skin/blue/f3.gif);
background-color: #984B98;
color: white;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #f7eef7;
}
td.TableBody1
{
background-color: #F7EEF7;
}
td.TableBody2
{
background-color: #f7eef7;
}
td.TopDarkNav
{
background-image: url(../skin/blue/f12.gif);
}
td.TopLighNav
{
background-image: url(../skin/blue/f1.gif);
}
td.TopLighNav1
{
background-image: url(../skin/blue/f2.gif);
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.TableBorder1
{
width:97%;
border: 1px; 
background-color: #984B98;
}
.TableBorder2
{
width:97%;
border: 1px #e0c0e0 solid; 
background-color: #f7eef7;
}

#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}

input,select,Textarea{
font-family:Tahoma,Verdana,ו; font-size: 12px; line-height: 15px;}
}
.normalTextSmall 
{ 
    font-size : 11px;
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navClass1
{Z-INDEX: 2; VISIBILITY: hidden; WIDTH:100px; POSITION: absolute;   BACKGROUND-COLOR: #9cc5f8}

.navClass2
{border:1px #984B98 solid; border-top-width: 0px; border-right-WIDTH:1px; border-bottom-width: 0px; border-left-WIDTH:1px;width:97%;}

.buttonClass1
{width:72px;height:21px;background-image:url(../pic/more/f4.gif)}

.buttonClass2
{width:72px;height:21px;background-image:url(../pic/more/f5.gif)}

.buttonClass3
{width:72px;height:21px;background-image:url(../pic/more/f6.gif)}

.buttonClass4
{width:72px;height:21px;background-image:url(../pic/more/f7.gif)}
