A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#000000}
A:hover{TEXT-DECORATION: underline;Color:#4455aa}

BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ו;
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-FACE-COLOR: #FBF4F4; 
SCROLLBAR-SHADOW-COLOR: #FBF4F4;
SCROLLBAR-3DLIGHT-COLOR: #FBF4F4;
SCROLLBAR-DARKSHADOW-COLOR: #F3E2E2;
SCROLLBAR-ARROW-COLOR: #D66565;
}
TD{
font-family: ו;
font-size: 12px;
line-height: 15px;
}
th
{
background-image: url(../skin/blue/d3.gif);
background-color: #D66565;
color: white;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #F3E2E2;
}
td.TableBody1
{
background-color: #FBF4F4;
}
td.TableBody2
{
background-color: #F3E2E2;
}
td.TopDarkNav
{
background-image: url(../skin/blue/d12.gif);
}
td.TopLighNav
{
background-image: url(../skin/blue/d1.gif);
}
td.TopLighNav1
{
background-image: url(../skin/blue/d2.gif);
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.TableBorder1
{
width:97%;
border: 1px; 
background-color: #D66565;
}
.TableBorder2
{
width:97%;
border: 1px #DEDEDE solid; 
background-color: #F3E2E2;
}

#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}

input,select,Textarea{
font-family:Tahoma,Verdana,ו; font-size: 12px; line-height: 15px;}
}
.normalTextSmall 
{ 
    font-size : 11px;
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navClass1
{Z-INDEX: 2; VISIBILITY: hidden; WIDTH: 1px; POSITION: absolute; HEIGHT: 1px; BACKGROUND-COLOR: #9cc5f8}

.navClass2
{border:1px #D66565 solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px;width:97%;}

.buttonClass1
{width:72;height:21;background-image:url(../pic/more/d4.gif)}

.buttonClass2
{width:72;height:21;background-image:url(../pic/more/d5.gif)}

.buttonClass3
{width:72;height:21;background-image:url(../pic/more/d6.gif)}

.buttonClass4
{width:72;height:21;background-image:url(../pic/more/d7.gif)}
