{TEXT-DECORATION: none;}
A:HOVER {COLOR: #ff0000;}
TABLE.BODY {BORDER: 1px solid; BORDER-COLOR: #CCCCCC}
BODY {BACKGROUND-COLOR: #F6F6F6; FONT-SIZE: 14px; }
body.dark {BACKGROUND-COLOR: #BBD0BB}
TABLE,TH,TD,P,INPUT,TEXTAREA,SELECT {FONT-SIZE: 12px;}
TABLE.dark {BACKGROUND-COLOR: #BBD0BB}
TD.default {BACKGROUND-COLOR: #F6F6F6}
input.default { background-color: #F0F0FF; border: #000000 solid 1px }
input.readonly { background-color: #F0F0FF; border: 0px }
input.button {
	font-size: 12px;
	text-align: center;
	height: 19px;
}
hr.default { COLOR: #008000 }

FONT.c30 {COLOR: #000000;}
FONT.c31 {COLOR: #e00000;}
FONT.c32 {COLOR: #008000;}
FONT.c33 {COLOR: #808000;}
FONT.c34 {COLOR: #0000ff;}
FONT.c35 {COLOR: #d000d0;}
FONT.c36 {COLOR: #33a0a0;}
FONT.c37 {COLOR: #000000;}
a {
	text-decoration: none;
}

.MainContentText {
	font-size: 12px;
	color: #333333;
	padding-left: 5px;
}
.unnamed2 {
	background-color: #FFFFCC;

}
.Account {
	font-size: 12px;
	color: #0477B8;
}
.NavigatorText {
	font-size: 14px;
	color: #0477B8;
	text-decoration: none;
	font-weight: normal;

}
.WelcomeTextNav {
	font-size: 14px;
	color: #999999;
	text-decoration: none;
}
.CoyprightText {
	font-size: 12px;
}
.mainright1 {
	color: #6E9E54;
}
.mainright {
	color: #6E9E54;
}
.HotTitle {
	height: 20px;
	padding-left: 15px;
}
.HotAuthor {
	height: 20px;
}
.HotTable {
	width: 97%;
}
.RecommendTitle {
	height: 20px;
	padding-left: 10px;
}
.RecommendLink {
	height: 20px;
	padding-right: 15px;
}
.RecommendTable {
	width: 97%
}
.SectionTitle {
	height: 20px;
	padding-left: 10px;
	padding-top: 5px;
}
.SectionItem {
	height: 20px;
	padding-left: 20px;
}
.SectionName {
	font-weight: bold;
	font-style: bold;
}
.SectionList {
}
.SecTable {
	width: 97%;
}
.SecLine {
	background-color: #CCCCCC;
}
td.header {
	font-size: 12px;
	background-color: #0066CC;
	color: #FFFFFF;
}
.header a:link {
	font-size: 12px;
	background-color: #0066CC;
	color: #FFFFFF;
	text-decoration: none;
}
.header a:visited {
	font-size: 12px;
	background-color: #0066CC;
	color: #FFFFFF;
	text-decoration: none;
}
.header a:hover {
	font-size: 12px;
	background-color: #FFFFFF;
	color: #0066CC;
	text-decoration: none;
}

input.text {
	font-size: 12px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	height: 19px;

}

table.recommend_title {
	font-size: 12px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 18px;
	border: 1px solid #0066CC;
	width: 97%;
    background-repeat: no-repeat;
    background-color: #DEF3FF;
    background-image: url('lan2.gif');
}
table.recommend_title td {
	padding-left: 23px;
}

table.hot_title {
	font-size: 12px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 18px;
	border: 1px solid #0066CC;
	width: 97%;
    background-repeat: no-repeat;
    background-color: #DEF3FF;
    background-image: url('lan1.gif');
}
table.hot_title td {
	padding-left: 23px;
}

table.hot_title a {
	color: #FFFFFF;
}

table.type_title {
	font-size: 12px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 18px;
	border: 1px solid #0066CC;
	width: 97%;
    background-repeat: no-repeat;
    background-color: #DEF3FF;
    background-image: url('lan3.gif');
}
table.type_title td {
	padding-left: 23px;
}

table.helper {
	font-size: 12px;
	color: #FFFFFF;
	border: 1px solid #0066CC;
}
table.helpert {
	font-size: 12px;
	color: #FFFFFF;
	border: 0px;
	height: 18px;
}
td.helpert_left {
	font-size: 12px;
	color: #FFFFFF;
	border: 0px;
	background-image: url('lt.gif');
	width: 16px;
}
td.helpert_middle {
	font-size: 12px;
	color: #FFFFFF;
	border: 0px;
	background-color: #0066CC;
	width: 66px;
}
td.helpert_right {
	font-size: 12px;
	color: #FFFFFF;
	border: 0px;
	background-image: url('rt.gif');
	width: 16px;
}
hr.smth {
	color: #999999;
	height: 1px;
	width: 80%;
}
td.smth {
	font-size: 12px;
}
li.default{
	margin-bottom: 5px;
	padding: 0px;
	vertical-align: top;
}
li.rec {
	margin: 0px 0px 5px 5px;
	padding: 0px;
	vertical-align: top;
}
.vline {
	background-color: #0066CC;
}
