body {
	font-family: Verdana,ו;
	background-color: lightblue;
}
h2.title {
	
}
pre.programlisting {
	background-color: #FFFF99 ;
	border: 1px solid #006600 ;
	padding: 4px 10px;
	font-family: 'Courier New',Courier;
}
