body {
	font-family: Verdana,ו;
	background-color: white;
}
h2.title {
	
}
pre.programlisting {
	background-color: bisque ;
	border: 1px dashed #006600 ;
	padding: 4px 10px;
	font-family: 'Courier New',Courier;
}
