BODY {color: #303230; background-color: #e8f0e8; font-size:12px; line-height=12px}
FONT {color: #303230; background-color: #e8f0e8}
FONT.f000 {}
FONT.f001 {color: #e87874 }
FONT.f002 {color: #00b400 }
FONT.f003 {color: #aeb400 }
FONT.f004 {color: #7478e8 }
FONT.f005 {color: #e878e8 }
FONT.f006 {color: #00b4ae }
FONT.f007 {color: #303230 }
FONT.f008 {color: #747874 }
FONT.f009 {color: #e80000 }
FONT.f010 {color: #009600 }
FONT.f011 {color: #919600 }
FONT.f012 {color: #0000e8 }
FONT.f013 {color: #e800e8 }
FONT.f014 {color: #009691 }
FONT.f015 {color: #000000 }
FONT.f100 {color: #e8f0e8; background-color: #e8c8c1 }
FONT.f101 {color: #e87874; background-color: #e8c8c1 }
FONT.f102 {color: #00b400; background-color: #e8c8c1 }
FONT.f103 {color: #aeb400; background-color: #e8c8c1 }
FONT.f104 {color: #7478e8; background-color: #e8c8c1 }
FONT.f105 {color: #e878e8; background-color: #e8c8c1 }
FONT.f106 {color: #00b4ae; background-color: #e8c8c1 }
FONT.f107 {color: #303230; background-color: #e8c8c1 }
FONT.f108 {color: #747874; background-color: #e8c8c1 }
FONT.f109 {color: #e80000; background-color: #e8c8c1 }
FONT.f110 {color: #009600; background-color: #e8c8c1 }
FONT.f111 {color: #919600; background-color: #e8c8c1 }
FONT.f112 {color: #0000e8; background-color: #e8c8c1 }
FONT.f113 {color: #e800e8; background-color: #e8c8c1 }
FONT.f114 {color: #009691; background-color: #e8c8c1 }
FONT.f115 {color: #000000; background-color: #e8c8c1 }
FONT.f200 {color: #e8f0e8; background-color: #c1f0c1 }
FONT.f201 {color: #e87874; background-color: #c1f0c1 }
FONT.f202 {color: #00b400; background-color: #c1f0c1 }
FONT.f203 {color: #aeb400; background-color: #c1f0c1 }
FONT.f204 {color: #7478e8; background-color: #c1f0c1 }
FONT.f205 {color: #e878e8; background-color: #c1f0c1 }
FONT.f206 {color: #00b4ae; background-color: #c1f0c1 }
FONT.f207 {color: #303230; background-color: #c1f0c1 }
FONT.f208 {color: #747874; background-color: #c1f0c1 }
FONT.f209 {color: #e80000; background-color: #c1f0c1 }
FONT.f210 {color: #009600; background-color: #c1f0c1 }
FONT.f211 {color: #919600; background-color: #c1f0c1 }
FONT.f212 {color: #0000e8; background-color: #c1f0c1 }
FONT.f213 {color: #e800e8; background-color: #c1f0c1 }
FONT.f214 {color: #009691; background-color: #c1f0c1 }
FONT.f215 {color: #000000; background-color: #c1f0c1 }
FONT.f300 {color: #e8f0e8; background-color: #e8f0b8 }
FONT.f301 {color: #e87874; background-color: #e8f0b8 }
FONT.f302 {color: #00b400; background-color: #e8f0b8 }
FONT.f303 {color: #aeb400; background-color: #e8f0b8 }
FONT.f304 {color: #7478e8; background-color: #e8f0b8 }
FONT.f305 {color: #e878e8; background-color: #e8f0b8 }
FONT.f306 {color: #00b4ae; background-color: #e8f0b8 }
FONT.f307 {color: #303230; background-color: #e8f0b8 }
FONT.f308 {color: #747874; background-color: #e8f0b8 }
FONT.f309 {color: #e80000; background-color: #e8f0b8 }
FONT.f310 {color: #009600; background-color: #e8f0b8 }
FONT.f311 {color: #919600; background-color: #e8f0b8 }
FONT.f312 {color: #0000e8; background-color: #e8f0b8 }
FONT.f313 {color: #e800e8; background-color: #e8f0b8 }
FONT.f314 {color: #009691; background-color: #e8f0b8 }
FONT.f315 {color: #000000; background-color: #e8f0b8 }
FONT.f400 {color: #e8f0e8; background-color: #c1c8e8 }
FONT.f401 {color: #e87874; background-color: #c1c8e8 }
FONT.f402 {color: #00b400; background-color: #c1c8e8 }
FONT.f403 {color: #aeb400; background-color: #c1c8e8 }
FONT.f404 {color: #7478e8; background-color: #c1c8e8 }
FONT.f405 {color: #e878e8; background-color: #c1c8e8 }
FONT.f406 {color: #00b4ae; background-color: #c1c8e8 }
FONT.f407 {color: #303230; background-color: #c1c8e8 }
FONT.f408 {color: #747874; background-color: #c1c8e8 }
FONT.f409 {color: #e80000; background-color: #c1c8e8 }
FONT.f410 {color: #009600; background-color: #c1c8e8 }
FONT.f411 {color: #919600; background-color: #c1c8e8 }
FONT.f412 {color: #0000e8; background-color: #c1c8e8 }
FONT.f413 {color: #e800e8; background-color: #c1c8e8 }
FONT.f414 {color: #009691; background-color: #c1c8e8 }
FONT.f415 {color: #000000; background-color: #c1c8e8 }
FONT.f500 {color: #e8f0e8; background-color: #e8c8e8 }
FONT.f501 {color: #e87874; background-color: #e8c8e8 }
FONT.f502 {color: #00b400; background-color: #e8c8e8 }
FONT.f503 {color: #aeb400; background-color: #e8c8e8 }
FONT.f504 {color: #7478e8; background-color: #e8c8e8 }
FONT.f505 {color: #e878e8; background-color: #e8c8e8 }
FONT.f506 {color: #00b4ae; background-color: #e8c8e8 }
FONT.f507 {color: #303230; background-color: #e8c8e8 }
FONT.f508 {color: #747874; background-color: #e8c8e8 }
FONT.f509 {color: #e80000; background-color: #e8c8e8 }
FONT.f510 {color: #009600; background-color: #e8c8e8 }
FONT.f511 {color: #919600; background-color: #e8c8e8 }
FONT.f512 {color: #0000e8; background-color: #e8c8e8 }
FONT.f513 {color: #e800e8; background-color: #e8c8e8 }
FONT.f514 {color: #009691; background-color: #e8c8e8 }
FONT.f515 {color: #000000; background-color: #e8c8e8 }
FONT.f600 {color: #e8f0e8; background-color: #b8f0e8 }
FONT.f601 {color: #e87874; background-color: #b8f0e8 }
FONT.f602 {color: #00b400; background-color: #b8f0e8 }
FONT.f603 {color: #aeb400; background-color: #b8f0e8 }
FONT.f604 {color: #7478e8; background-color: #b8f0e8 }
FONT.f605 {color: #e878e8; background-color: #b8f0e8 }
FONT.f606 {color: #00b4ae; background-color: #b8f0e8 }
FONT.f607 {color: #303230; background-color: #b8f0e8 }
FONT.f608 {color: #747874; background-color: #b8f0e8 }
FONT.f609 {color: #e80000; background-color: #b8f0e8 }
FONT.f610 {color: #009600; background-color: #b8f0e8 }
FONT.f611 {color: #919600; background-color: #b8f0e8 }
FONT.f612 {color: #0000e8; background-color: #b8f0e8 }
FONT.f613 {color: #e800e8; background-color: #b8f0e8 }
FONT.f614 {color: #009691; background-color: #b8f0e8 }
FONT.f615 {color: #000000; background-color: #b8f0e8 }
FONT.f700 {color: #e8f0e8; background-color: #c1c8c1 }
FONT.f701 {color: #e87874; background-color: #c1c8c1 }
FONT.f702 {color: #00b400; background-color: #c1c8c1 }
FONT.f703 {color: #aeb400; background-color: #c1c8c1 }
FONT.f704 {color: #7478e8; background-color: #c1c8c1 }
FONT.f705 {color: #e878e8; background-color: #c1c8c1 }
FONT.f706 {color: #00b4ae; background-color: #c1c8c1 }
FONT.f707 {color: #303230; background-color: #c1c8c1 }
FONT.f708 {color: #747874; background-color: #c1c8c1 }
FONT.f709 {color: #e80000; background-color: #c1c8c1 }
FONT.f710 {color: #009600; background-color: #c1c8c1 }
FONT.f711 {color: #919600; background-color: #c1c8c1 }
FONT.f712 {color: #0000e8; background-color: #c1c8c1 }
FONT.f713 {color: #e800e8; background-color: #c1c8c1 }
FONT.f714 {color: #009691; background-color: #c1c8c1 }
FONT.f715 {color: #000000; background-color: #c1c8c1 }
FONT.f800 {color: #e8f0e8; background-color: #e8f0e8 }
FONT.f801 {color: #e87874; background-color: #e8f0e8 }
FONT.f802 {color: #00b400; background-color: #e8f0e8 }
FONT.f803 {color: #aeb400; background-color: #e8f0e8 }
FONT.f804 {color: #7478e8; background-color: #e8f0e8 }
FONT.f805 {color: #e878e8; background-color: #e8f0e8 }
FONT.f806 {color: #00b4ae; background-color: #e8f0e8 }
FONT.f807 {color: #303230; background-color: #e8f0e8 }
FONT.f808 {color: #747874; background-color: #e8f0e8 }
FONT.f809 {color: #e80000; background-color: #e8f0e8 }
FONT.f810 {color: #009600; background-color: #e8f0e8 }
FONT.f811 {color: #919600; background-color: #e8f0e8 }
FONT.f812 {color: #0000e8; background-color: #e8f0e8 }
FONT.f813 {color: #e800e8; background-color: #e8f0e8 }
FONT.f814 {color: #009691; background-color: #e8f0e8 }
FONT.f815 {color: #000000; background-color: #e8f0e8 }
