BODY {background-color: #000000; font-size:16px; line-height=16px }
FONT {background-color: #000000 }
FONT.f000 {color: #000000 }
FONT.f001 {color: #800000 }
FONT.f002 {color: #008000 }
FONT.f003 {color: #808000 }
FONT.f004 {color: #000080 }
FONT.f005 {color: #800080 }
FONT.f006 {color: #008080 }
FONT.f007 {color: #c0c0c0 }
FONT.f008 {color: #808080 }
FONT.f009 {color: #ff0000 }
FONT.f010 {color: #00ff00 }
FONT.f011 {color: #ffff00 }
FONT.f012 {color: #0000ff }
FONT.f013 {color: #ff00ff }
FONT.f014 {color: #00ffff }
FONT.f015 {color: #ffffff }
FONT.f100 {color: #000000; background-color: #800000 }
FONT.f101 {color: #800000; background-color: #800000 }
FONT.f102 {color: #008000; background-color: #800000 }
FONT.f103 {color: #808000; background-color: #800000 }
FONT.f104 {color: #000080; background-color: #800000 }
FONT.f105 {color: #800080; background-color: #800000 }
FONT.f106 {color: #008080; background-color: #800000 }
FONT.f107 {color: #c0c0c0; background-color: #800000 }
FONT.f108 {color: #808080; background-color: #800000 }
FONT.f109 {color: #ff0000; background-color: #800000 }
FONT.f110 {color: #00ff00; background-color: #800000 }
FONT.f111 {color: #ffff00; background-color: #800000 }
FONT.f112 {color: #0000ff; background-color: #800000 }
FONT.f113 {color: #ff00ff; background-color: #800000 }
FONT.f114 {color: #00ffff; background-color: #800000 }
FONT.f115 {color: #ffffff; background-color: #800000 }
FONT.f200 {color: #000000; background-color: #008000 }
FONT.f201 {color: #800000; background-color: #008000 }
FONT.f202 {color: #008000; background-color: #008000 }
FONT.f203 {color: #808000; background-color: #008000 }
FONT.f204 {color: #000080; background-color: #008000 }
FONT.f205 {color: #800080; background-color: #008000 }
FONT.f206 {color: #008080; background-color: #008000 }
FONT.f207 {color: #c0c0c0; background-color: #008000 }
FONT.f208 {color: #808080; background-color: #008000 }
FONT.f209 {color: #ff0000; background-color: #008000 }
FONT.f210 {color: #00ff00; background-color: #008000 }
FONT.f211 {color: #ffff00; background-color: #008000 }
FONT.f212 {color: #0000ff; background-color: #008000 }
FONT.f213 {color: #ff00ff; background-color: #008000 }
FONT.f214 {color: #00ffff; background-color: #008000 }
FONT.f215 {color: #ffffff; background-color: #008000 }
FONT.f300 {color: #000000; background-color: #808000 }
FONT.f301 {color: #800000; background-color: #808000 }
FONT.f302 {color: #008000; background-color: #808000 }
FONT.f303 {color: #808000; background-color: #808000 }
FONT.f304 {color: #000080; background-color: #808000 }
FONT.f305 {color: #800080; background-color: #808000 }
FONT.f306 {color: #008080; background-color: #808000 }
FONT.f307 {color: #c0c0c0; background-color: #808000 }
FONT.f308 {color: #808080; background-color: #808000 }
FONT.f309 {color: #ff0000; background-color: #808000 }
FONT.f310 {color: #00ff00; background-color: #808000 }
FONT.f311 {color: #ffff00; background-color: #808000 }
FONT.f312 {color: #0000ff; background-color: #808000 }
FONT.f313 {color: #ff00ff; background-color: #808000 }
FONT.f314 {color: #00ffff; background-color: #808000 }
FONT.f315 {color: #ffffff; background-color: #808000 }
FONT.f400 {color: #000000; background-color: #000080 }
FONT.f401 {color: #800000; background-color: #000080 }
FONT.f402 {color: #008000; background-color: #000080 }
FONT.f403 {color: #808000; background-color: #000080 }
FONT.f404 {color: #000080; background-color: #000080 }
FONT.f405 {color: #800080; background-color: #000080 }
FONT.f406 {color: #008080; background-color: #000080 }
FONT.f407 {color: #c0c0c0; background-color: #000080 }
FONT.f408 {color: #808080; background-color: #000080 }
FONT.f409 {color: #ff0000; background-color: #000080 }
FONT.f410 {color: #00ff00; background-color: #000080 }
FONT.f411 {color: #ffff00; background-color: #000080 }
FONT.f412 {color: #0000ff; background-color: #000080 }
FONT.f413 {color: #ff00ff; background-color: #000080 }
FONT.f414 {color: #00ffff; background-color: #000080 }
FONT.f415 {color: #ffffff; background-color: #000080 }
FONT.f500 {color: #000000; background-color: #800080 }
FONT.f501 {color: #800000; background-color: #800080 }
FONT.f502 {color: #008000; background-color: #800080 }
FONT.f503 {color: #808000; background-color: #800080 }
FONT.f504 {color: #000080; background-color: #800080 }
FONT.f505 {color: #800080; background-color: #800080 }
FONT.f506 {color: #008080; background-color: #800080 }
FONT.f507 {color: #c0c0c0; background-color: #800080 }
FONT.f508 {color: #808080; background-color: #800080 }
FONT.f509 {color: #ff0000; background-color: #800080 }
FONT.f510 {color: #00ff00; background-color: #800080 }
FONT.f511 {color: #ffff00; background-color: #800080 }
FONT.f512 {color: #0000ff; background-color: #800080 }
FONT.f513 {color: #ff00ff; background-color: #800080 }
FONT.f514 {color: #00ffff; background-color: #800080 }
FONT.f515 {color: #ffffff; background-color: #800080 }
FONT.f600 {color: #000000; background-color: #008080 }
FONT.f601 {color: #800000; background-color: #008080 }
FONT.f602 {color: #008000; background-color: #008080 }
FONT.f603 {color: #808000; background-color: #008080 }
FONT.f604 {color: #000080; background-color: #008080 }
FONT.f605 {color: #800080; background-color: #008080 }
FONT.f606 {color: #008080; background-color: #008080 }
FONT.f607 {color: #c0c0c0; background-color: #008080 }
FONT.f608 {color: #808080; background-color: #008080 }
FONT.f609 {color: #ff0000; background-color: #008080 }
FONT.f610 {color: #00ff00; background-color: #008080 }
FONT.f611 {color: #ffff00; background-color: #008080 }
FONT.f612 {color: #0000ff; background-color: #008080 }
FONT.f613 {color: #ff00ff; background-color: #008080 }
FONT.f614 {color: #00ffff; background-color: #008080 }
FONT.f615 {color: #ffffff; background-color: #008080 }
FONT.f700 {color: #000000; background-color: #c0c0c0 }
FONT.f701 {color: #800000; background-color: #c0c0c0 }
FONT.f702 {color: #008000; background-color: #c0c0c0 }
FONT.f703 {color: #808000; background-color: #c0c0c0 }
FONT.f704 {color: #000080; background-color: #c0c0c0 }
FONT.f705 {color: #800080; background-color: #c0c0c0 }
FONT.f706 {color: #008080; background-color: #c0c0c0 }
FONT.f707 {color: #c0c0c0; background-color: #c0c0c0 }
FONT.f708 {color: #808080; background-color: #c0c0c0 }
FONT.f709 {color: #ff0000; background-color: #c0c0c0 }
FONT.f710 {color: #00ff00; background-color: #c0c0c0 }
FONT.f711 {color: #ffff00; background-color: #c0c0c0 }
FONT.f712 {color: #0000ff; background-color: #c0c0c0 }
FONT.f713 {color: #ff00ff; background-color: #c0c0c0 }
FONT.f714 {color: #00ffff; background-color: #c0c0c0 }
FONT.f715 {color: #ffffff; background-color: #c0c0c0 }
FONT.f800 {color: #000000; background-color: #000000 }
FONT.f801 {color: #800000; background-color: #000000 }
FONT.f802 {color: #008000; background-color: #000000 }
FONT.f803 {color: #808000; background-color: #000000 }
FONT.f804 {color: #000080; background-color: #000000 }
FONT.f805 {color: #800080; background-color: #000000 }
FONT.f806 {color: #008080; background-color: #000000 }
FONT.f807 {color: #c0c0c0; background-color: #000000 }
FONT.f808 {color: #808080; background-color: #000000 }
FONT.f809 {color: #ff0000; background-color: #000000 }
FONT.f810 {color: #00ff00; background-color: #000000 }
FONT.f811 {color: #ffff00; background-color: #000000 }
FONT.f812 {color: #0000ff; background-color: #000000 }
FONT.f813 {color: #ff00ff; background-color: #000000 }
FONT.f814 {color: #00ffff; background-color: #000000 }
FONT.f815 {color: #ffffff; background-color: #000000 }
