{TEXT-DECORATION: none;}
A:HOVER {COLOR: #ff0000;}
TABLE.BODY {BORDER: 2px solid; BORDER-COLOR: #d0f0c0;}
BODY {BACKGROUND-COLOR: #E5EDE5; FONT-SIZE: 14px; }
body.dark {BACKGROUND-COLOR: #BBD0BB}
TABLE,TH,TD,P,INPUT,TEXTAREA,SELECT {FONT-SIZE: 14px;}
input.default { background-color: #F0F0FF; border: #000000 solid 1px }
input.readonly { background-color: #F0F0FF; border: 0px }
input.button { background-color: #CCCCFF }
hr.default { COLOR: #008000 }

FONT.c30 {COLOR: #000000;}
FONT.c31 {COLOR: #e00000;}
FONT.c32 {COLOR: #008000;}
FONT.c33 {COLOR: #808000;}
FONT.c34 {COLOR: #0000ff;}
FONT.c35 {COLOR: #d000d0;}
FONT.c36 {COLOR: #33a0a0;}
FONT.c37 {COLOR: #000000;}
