{TEXT-DECORATION: none;}
A:HOVER {COLOR: #ff0000;}
TABLE.BODY {BORDER: 1px solid; BORDER-COLOR: #BBD0BB;}
BODY {BACKGROUND-COLOR: #E5EDE5; FONT-SIZE: 12px; }
body.dark {BACKGROUND-COLOR: #BBD0BB}
TABLE,TH,TD,P,INPUT,TEXTAREA,SELECT {FONT-SIZE: 12px;}
TABLE.dark {BACKGROUND-COLOR: #BBD0BB}
TD.default {BACKGROUND-COLOR: #E5EDE5}
input.default { background-color: #F0F0FF; border: #000000 solid 1px }
input.readonly { background-color: #F0F0FF; border: 0px }
input.button { background-color: #CCCCFF }
hr.default { COLOR: #008000 }

FONT.c30 {COLOR: #000000;}
FONT.c31 {COLOR: #e00000;}
FONT.c32 {COLOR: #008000;}
FONT.c33 {COLOR: #808000;}
FONT.c34 {COLOR: #0000ff;}
FONT.c35 {COLOR: #d000d0;}
FONT.c36 {COLOR: #33a0a0;}
FONT.c37 {COLOR: #000000;}
.b1 {font-size: 12px;color: #000000;text-decoration: none;}
.t1 {font-size: 12px;border-top-width: 1px;border-left-width: 1px;border-top-style: solid;border-left-style: solid;border-top-color: #BBD0BB;border-left-color: #BBD0BB;}
.t2 {font-size: 12px;border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid;border-right-color: #BBD0BB;border-bottom-color: #BBD0BB;}
