BODY {FONT-SIZE: 14px;}
A {TEXT-DECORATION: none;}
A:HOVER {COLOR: #ff0000;}
TABLE.BODY {BORDER: 2px solid; BORDER-COLOR: #d0f0c0;}
BODY {BACKGROUND-COLOR: #fff0ff; FONT-SIZE: 14px;}
TABLE,TH,TD,P,INPUT,TEXTAREA,SELECT {FONT-SIZE: 14px;}

FONT.c30 {font-size: 14px; COLOR: #f0f0f0;}
FONT.c31 {font-size: 14px; COLOR: #f04040;}
FONT.c32 {font-size: 14px; COLOR: #40d040;}
FONT.c33 {font-size: 14px; COLOR: #a0a000;}
FONT.c34 {font-size: 14px; COLOR: #4040f0;}
FONT.c35 {font-size: 14px; COLOR: #a000a0;}
FONT.c36 {font-size: 14px; COLOR: #408080;}
FONT.c37 {font-size: 14px; COLOR: #000000;}
FONT.c99 {font-size: 42px;}

HIDE1 {DISPLAY: none;}
HIDE0 {DISPLAY: block;}

FONT.p12 {FONT-SIZE: 12px}
