{TEXT-DECORATION: none;}
A:HOVER {COLOR: #ff0000;}
TABLE.BODY {BORDER: 1px solid; BORDER-COLOR: #BBD0BB;}
BODY {BACKGROUND-COLOR: #E5EDE5; FONT-SIZE: 12px; }
body.dark {BACKGROUND-COLOR: #BBD0BB}
TABLE,TH,TD,P,INPUT,TEXTAREA,SELECT {FONT-SIZE: 12px;}
TABLE.dark {BACKGROUND-COLOR: #BBD0BB}
TD.default {BACKGROUND-COLOR: #E5EDE5}
input.default { background-color: #F0F0FF; border: #000000 solid 1px }
input.readonly { background-color: #F0F0FF; border: 0px }
input.button {
	font-size: 12px;
	text-align: center;
	height: 19px;
}
hr.default { COLOR: #008000 }

FONT.c30 {COLOR: #000000;}
FONT.c31 {COLOR: #e00000;}
FONT.c32 {COLOR: #008000;}
FONT.c33 {COLOR: #808000;}
FONT.c34 {COLOR: #0000ff;}
FONT.c35 {COLOR: #d000d0;}
FONT.c36 {COLOR: #33a0a0;}
FONT.c37 {COLOR: #000000;}
.MenuLeftHead {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: bottom;
}
a.MenuLeftHead:hover { font-size: 12px ; color: #339900 ; 	text-decoration: none;}
a.MenuLeftHead:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.MenuLeftHead:visited { font-size: 12px ; color: #FFFFFF ; 	text-decoration: none;}

.MainContentHeaderInfo {
	font-size: 12px;
	color: #009900;
}

.MainContentTitle {
	font-size: 16px;
	font-weight: bold;


}
.MainContentText {
	font-size: 12px;
	color: #333333;

}
.MainContentTJTitle {
	font-size: 14px;
	color: #666666;
	font-weight: bold;

}
.MainContentTextTitle {
	font-size: 12px;
	color: #000000;
}
.unnamed2 {
	background-color: #FFFFCC;

}
.Account {
	font-size: 12px;
	color: #0477B8;
}
.NavigatorText {
	font-size: 14px;
	color: #0477B8;
	text-decoration: none;
	font-weight: normal;

}
.WelcomeTextNav {
	font-size: 14px;
	color: #999999;
	text-decoration: none;
}
.CoyprightText {
	font-size: 12px;
}
.mainright1 {
	color: #6E9E54;
}
.mainright {
	color: #6E9E54;
}
td.header {
	font-size: 12px;
	background-color: #0066CC;
	color: #FFFFFF;
}
input.text {
	font-size: 12px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	height: 19px;

}
td.title {
	margin: 0px;
	padding: 0px;
	height: 16px;
	font-size: 12px;
	color: #FFFFFF;


}
table.title {
	font-size: 12px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 18px;
	border: 1px solid #0066CC;

}
table.helper {
	font-size: 12px;
	color: #FFFFFF;
	border: 1px solid #0066CC;
}
table.helpert {
	font-size: 12px;
	color: #FFFFFF;
	border: 0px;
}
hr.smth {
	color: #999999;
	height: 1px;
	width: 80%;
}
td.smth {
	font-size: 12px;
}
li.default{
margin-bottom: 5px; vertical-align: top
}
